<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>JavaAppLauncher</string>
<key>CFBundleIconFile</key>
<string>vstaricon.icns</string>
<key>CFBundleIdentifier</key>
<string>org.aavso.tools.vstar.ui.VStar</string>
<key>CFBundleDisplayName</key>
<string>VStar</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>VStar</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>1</string>
<key>NSHumanReadableCopyright</key>
<string></string>
<key>NSHighResolutionCapable</key>
<true/>
<key>JVMMainClassName</key>
<string>org.aavso.tools.vstar.ui.VStar</string>
<key>JVMOptions</key>
<array>
<string>-Xms800m</string>
<string>-Xmx8g</string>
<string>-splash:$APP_ROOT/Contents/Java/vstaricon.png</string>
</array>
<key>JVMArguments</key>
<array>
<string>$*</string>
</array>
</dict>
</plist>

