<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>VStar</string><!-- relative to Contents/MacOS -->
        <key>CFBundleGetInfoString</key>
        <string>VStar</string>
        <key>CFBundleIconFile</key>
        <string>VStar</string><!-- relative to Contents/Resources -->
        <key>CFBundleInfoDictionaryVersion</key>
        <string>8.0</string>
        <key>CFBundleName</key>
        <string>VStar</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleVersion</key>
        <string>8.0</string>        
        <key>JVMMainClassName</key>
        <string>org.aavso.tools.vstar.ui.VStar</string>
</dict>
</plist>
